body {

	font-family: 'Courier New', Courier, monospace;
}

header {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
}

header h1 {
	font-size: 48px;
}

header h2 {
	font-size: 24px;
}

nav {
	background-color: #555;
	padding: 10px;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-around;
}

nav li {
	margin: 0 10px;
}

nav a {
	color: #fff;
	text-decoration: none;
	font-size: 18px;
}

nav a:hover {
	color: #ccc;
}

main {
	padding: 20px;
}

section {
	margin-bottom: 20px;
}

section h3 {
	font-size: 24px;
	margin-bottom: 10px;
}

footer {
	background-color: #333;
	color: #fff;
	padding: 20px;
}

form label,
form input,
form textarea,
form button {
	
	display: block;
	margin-bottom: 10px;
}

.projects-container {

	display: flex;
	flex-direction: column;
}

.article img {

	width: 200px;
	padding-left: 5px;
	padding-right: 5px;
}

.article #images {

	display: flex;
	flex-direction: row;
}

@media only screen and (max-width: 750px) {
	
	nav ul {
		flex-direction: column;
		align-items: center;
	}

	nav li {
		margin: 10px 0;
	}

	header h1 {
		font-size: 36px;
	}

	header h2 {
		font-size: 18px;
		margin-bottom: 20px;
	}

	section h3 {
		font-size: 20px;
		margin-bottom: 15px;
	}

	.article img {

		width: 100%;
		padding-left: 0px;
		padding-right: 0px;
		padding-top: 5px;
		padding-bottom: 5px;
	}

	.article #images {

		flex-direction: column;
	}
}